body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: none;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: white;
    color: rgb(241, 168, 216);
  }

 /*HIDE THE DESKTOP NAV ON MOBILE*/
.desktop-nav{
    display:none;
}

.desktop-nav a{
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    align-content: space-between;
}

.bio-nav{
    display: flex;
    align-content: right;
}

.logo-icon{
    max-width: 50px;
    height: auto;
}

/* .headshots-home{
    object-fit: cover;
    border-radius: 5%;
    height: auto;
    width: 80%;
    border: solid 1px #707070;
    margin: 14px;
} */

.img-box{
    object-fit: cover;
    border-radius: 5%;
    height: auto;
    width: 80%;
    border: solid 1px #707070;
    margin: 14px;
}

.headshot-box{
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* pink hoverstate */
.headshots-home:hover {
    filter: brightness(1.2) saturate(80%) hue-rotate(330deg); /* Pink filter effect */
}

/* Pink overlay */
.overlay {
    position: absolute; /* Positioned relative to container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 192, 203, 0.5); /* Pink overlay with transparency */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s; /* Smooth transition for opacity change */
}

/* Show overlay on hover */
.headshots-home:hover + .overlay {
    opacity: 1; /* Show overlay on hover */
}

/* Show overlay on hover */
.headshots-home:hover + .overlay {
    opacity: 1; /* Show overlay on hover */
}
   /* media queries for mobile vs desktop */

   @media screen and (min-width:1081px){
    /*Hide the mobile nav once the screen is 1081 pixels wide*/
    .topnav{
        display:none;
    }
    /*Show the desktop nav*/
    .desktop-nav{
        display:flex;
    }
    .headshots-home{
        width: 20%
    }
    /* hover state for images turning black and white */
    .headshots-home:hover {
        filter: brightness(1.2) saturate(80%) hue-rotate(330deg);
    }
}