header{
    position: sticky;
    background-color: black;
}
body {
    font-family: lato, sans-serif;
    background-color: #DBDEFE;
}

footer{
    background-color: black;
    margin: 0;
}

h1 {
    font-family: monoton;
    justify-content: center;
    word-spacing: 10px;
 }

 p{
    font-size: 16pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

 hr{
    border: none;
    height: 3px;
    color:blueviolet;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin: 20px 0; /* Adjust margin as needed */

 }
 header{
    background-color: #DBDEFE;
 }
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #000000;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #DBDEFE;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: none;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  /* .topnav a:hover { */
    /* background-color: white;
    color: black;
  } */
  
  /* Style the active link (or home/logo) */
  .active {
    /* background-color: white; */
    color: rgb(241, 168, 216);
  }

 /*HIDE THE DESKTOP NAV ON MOBILE*/
.desktop-nav{
    display:none;
    justify-content: space-between;
}

.desktop-nav a{
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: lato;
    display: block;
    align-content: space-between;
}

.desktop-nav a:hover{
    color:hotpink;
}
/* .myLinks{
    align-content: right;
} */

.bio-nav{
    display: flex;
    align-content: right;
}

.logo-icon{
    max-width: 50px;
    height: auto;
}


.headshot-holder{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
}

.img-wrapper{
    position: relative;
    overflow: hidden;
}

.img-wrapper > img {
    display:block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    color: lightpink;
    font-weight: 800;
    padding: 4rem;
    background: (255, 192, 203, .8);
}

.img-wrapper > img,
.img-wrapper > .content {
    transition: 200ms ease-in-out;
}

.img-wrapper:hover > img.blur{
    filter:blur(25px) brightness(1.5);
}

.img-wrapper > .content.fade {
    opacity: 0;
    
} 
.img-wrapper:hover > .content.fade {
    opacity: 1;

}

 #chanel-quote{
    font-size: 30px;
    font-family: cursive;
 }

 .runway{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
}

.design{
    aspect-ratio: 1/1;
}

.bio-box {
    display: flex;
    flex-direction: column; /* Stack elements vertically by default */
    justify-content: space-between;
    margin: 5%;
}

/* .intro-vid {
    width: 100%; /* Ensure the video takes full width */
    /* margin-top: 20px; /* Add some space between the quote and the video */
/* }  */
.show-vids{
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2%;
}
.youtube-vid {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }

.bio-p{
    width: 90%;
}
   /* media queries for mobile vs desktop */

   @media screen and (min-width:1081px){
    /*Hide the mobile nav once the screen is 1081 pixels wide*/
    .topnav{
        display:none;
    }
    /*Show the desktop nav*/
    .desktop-nav{
        display:flex;
    }
    .mobile-story-link{
        display: none;
    }
    .youtube-vid{
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
    .show-vids{
        flex-direction: row;
    }
    .bio-box {
        flex-direction: row; /* Split elements horizontally on desktop */
        position: relative;
        justify-content: space-around;
    }

    .bio-p{
        /* width: 60%; */
        margin: 4%;
    }
    .intro-vid {
        flex: 1; /* Let the video take up remaining space */
        margin-top: 0; /* Remove top margin for the video */
        margin-left: 20px; /* Add some space between the quote and the video */
    }
}